## Inizio - Importazione librerie e lettura del file

In [96]:
# Qui importo le librerie Numpy e Pandas, che saranno fondamentali per l'analisi dei dati

In [2]:
import pandas as pd
import numpy as np

In [97]:
#Attraverso Pandas import il file CSV contentente il dataset

In [3]:
file_path = "C://Users//Andrea//Downloads//owid-covid-data.csv"
Covid19 = pd.read_csv(file_path, sep=",", encoding="latin1")

## Verifico le dimensioni del dataset e le intestazioni

In [4]:
Covid19

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378606,ZWE,Africa,Zimbabwe,2024-02-07,266319.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
378607,ZWE,Africa,Zimbabwe,2024-02-08,266319.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
378608,ZWE,Africa,Zimbabwe,2024-02-09,266319.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
378609,ZWE,Africa,Zimbabwe,2024-02-10,266319.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
378610,ZWE,Africa,Zimbabwe,2024-02-11,266328.0,9.0,1.286,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [103]:
Covid19.shape #Rappresenta la dimensione del dataset

(378611, 67)

In [306]:
Covid19.info() #Descrive tutte le colonne con le corrispettive intestazioni

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378611 entries, 0 to 378610
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    378611 non-null  object
 1   continent                                   360503 non-null  object
 2   location                                    378611 non-null  object
 3   date                                        378611 non-null  object
 4   total_cases                                 339793 non-null  float64
 5   new_cases                                   367810 non-null  float64
 6   new_cases_smoothed                          366580 non-null  float64
 7   total_deaths                                317779 non-null  float64
 8   new_deaths                                  367817 non-null  float64
 9   new_deaths_smoothed                         366587 non-null  float64
 10  total_cases_per_million                     339793 non-null  float64
 11  new_cases_per_million                       367810 non-null  float64
 12  new_cases_smoothed_per_million              366580 non-null  float64
 13  total_deaths_per_million                    317779 non-null  float64
 14  new_deaths_per_million                      367817 non-null  float64
 15  new_deaths_smoothed_per_million             366587 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                38441 non-null   float64
 18  icu_patients_per_million                    38441 non-null   float64
 19  hosp_patients                               39943 non-null   float64
 20  hosp_patients_per_million                   39943 non-null   float64
 21  weekly_icu_admissions                       10596 non-null   float64
 22  weekly_icu_admissions_per_million           10596 non-null   float64
 23  weekly_hosp_admissions                      23987 non-null   float64
 24  weekly_hosp_admissions_per_million          23987 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          82718 non-null   float64
 35  people_vaccinated                           78667 non-null   float64
 36  people_fully_vaccinated                     75525 non-null   float64
 37  total_boosters                              50812 non-null   float64
 38  new_vaccinations                            68515 non-null   float64
 39  new_vaccinations_smoothed                   189209 non-null  float64
 40  total_vaccinations_per_hundred              82718 non-null   float64
 41  people_vaccinated_per_hundred               78667 non-null   float64
 42  people_fully_vaccinated_per_hundred         75525 non-null   float64
 43  total_boosters_per_hundred                  50812 non-null   float64
 44  new_vaccinations_smoothed_per_million       189209 non-null  float64
 45  new_people_vaccinated_smoothed              186697 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  186697 non-null  float64
 47  stringency_index                            197292 non-null  float64
 48  population_density                          321765 non-null  float64
 49  median_age                                  299130 non-null  float64
 50  aged_65_older                               288787 non-null  float64
 51  aged_70_older                               296132 non-null  float64
 52  gdp_per_capita                              293284 non-null  float64
 53  extreme_poverty                             189039 non-null  float64
 54  cardiovasc_death_rate                       293851 non-null  float64
 55  diabetes_prevalence                         308978 non-null  float64
 56  female_smokers                              220551 non-null  float64
 57  male_smokers                                217553 non-null  float64
 58  handwashing_facilities                      143954 non-null  float64
 59  hospital_beds_per_thousand                  259525 non-null  float64
 60  life_expectancy                             348597 non-null  float64
 61  human_development_index                     284994 non-null  float64
 62  population                                  378611 non-null  float64
 63  excess_mortality_cumulative_absolute        13113 non-null   float64
 64  excess_mortality_cumulative                 13113 non-null   float64
 65  excess_mortality                            13113 non-null   float64
 66  excess_mortality_cumulative_per_million     13113 non-null   float64
dtypes: float64(62), object(5)
memory usage: 193.5+ MB

In [104]:
Covid19.describe() #Rappresenta una descrizione statistica dell'intero dataset

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,3.397930e+05,3.678100e+05,3.665800e+05,3.177790e+05,367817.000000,366587.000000,339793.000000,367810.000000,366580.000000,317779.000000,...,217553.000000,143954.000000,259525.000000,348597.000000,284994.000000,3.786110e+05,1.311300e+04,13113.000000,13113.000000,13113.000000
mean,7.234009e+06,8.926184e+03,8.955334e+03,8.908641e+04,79.404663,79.666593,110034.589912,135.560187,136.001049,908.135971,...,32.910321,50.790372,3.097408,73.713223,0.722568,1.291323e+08,5.460328e+04,9.752126,10.987011,1768.995621
std,4.329032e+07,2.424453e+05,9.141388e+04,4.530218e+05,1440.850695,540.491077,158194.118604,1561.856458,577.746712,1124.964393,...,13.572284,31.953107,2.548254,7.395291,0.149002,6.629773e+08,1.513266e+05,11.973323,24.567275,1986.543673
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2936.453100
25%,9.106000e+03,0.000000e+00,0.000000e+00,1.330000e+02,0.000000,0.000000,2885.735000,0.000000,0.000000,64.716000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,1.708000e+02,1.990000,-1.520000,115.941200
50%,7.777200e+04,0.000000e+00,1.871400e+01,1.376000e+03,0.000000,0.143000,31845.405000,0.000000,4.727000,404.028000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,6.654600e+03,8.150000,5.650000,1237.869900
75%,8.341830e+05,0.000000e+00,4.255710e+02,1.232050e+04,0.000000,4.286000,152290.808000,0.000000,71.792000,1445.813000,...,41.300000,82.502000,4.200000,79.460000,0.829000,2.830170e+07,3.875370e+04,15.060000,15.720000,2871.024400
max,7.746314e+08,4.423623e+07,6.319461e+06,7.031216e+06,103719.000000,14817.000000,764083.456000,240325.866000,34332.267000,6507.656000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.327828e+06,76.620000,377.700000,10293.515000

In [7]:
Continenti = Covid19["continent"].unique()
Continenti

array(['Asia', nan, 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

## Trovare il numero di casi totali per ciascun continente (si escludono quelle location non appartenenti ad alcun continente)

In [320]:
Subset1 = Covid19.loc[:,["continent", "new_cases"]].groupby("continent").sum() #Utilizzando la funzione .groupby() le location con continente nullo vengono escluse
Subset1.rename(columns={"new_cases" : "Tot_Casi"}, inplace=True)
Subset1.sort_values("Tot_Casi", ascending=False)

                    Tot_Casi
continent
Asia          301,403,984.00
Europe        252,207,645.00
North America 124,522,699.00
South America  68,670,504.00
Oceania        14,754,557.00
Africa         13,139,478.00

## Sviluppare una funzione che prenda in input il dataset e due continenti,  e che ne confronti i seguenti relativi descrittori statistici: valori minimo e massimo, media, e percentuale rispetto al numero dei casi totali nel mondo (calcolati anche sulle locazioni senza indicazione di continente);

In [44]:
def Stat_casi(Covid19):
    Cont1=input("Inserire il nome di un continente: ").title() #L'utente da tastiera mette in input i due continenti
    Cont2=input("Inserire il nome di un continente: ").title() #La funzione .title() pone l'input nel formato già corretto del dataset


    S1 = Covid19.loc[Covid19.continent==Cont1].new_cases #Gli input vengono utilizzati come variabile per filtrare il dataset sul continente richiesto
    S2 = Covid19.loc[Covid19.continent==Cont2].new_cases #Le variabili necessarie per i vari calcoli si basano sulla colonna new_cases
    
    MaxC1=S1.max() #Si calcolano i massimi dei new_cases
    MaxC2=S2.max()
    
    MinC1=S1.min() #Si calcolano i minimi dei new_cases
    MinC2=S2.min()
    
    MeanC1=S1.mean() #Si calcola la media dei new_cases
    MeanC2=S2.mean()
    
    Tot_World_cases=Covid19.loc[~Covid19.continent.isnull()].new_cases.sum() 
    
    """
    Si calcolano i casi globali, escludendo i continenti nulli (trattandodi di aggregazioni continentali, sono da escludere nel computo complessivo)
    """
    
    World_Perc1=(S1.sum())/Tot_World_cases*100 #Si calcolano le percentuali sui casi globali
    World_Perc2=(S2.sum())/Tot_World_cases*100
    
    #Si struttura un piccolo dataframe per esporre in maniera chiara all'utente le informazioni richieste
    
    Stat=pd.DataFrame(
        {'Cont1': [MaxC1, MinC1, MeanC1, World_Perc1],
         'Cont2': [MaxC2, MinC2, MeanC2, World_Perc2]},
         index = ['Massimo casi Giorn.', 'Minimo casi Giorn.Giorn.', 'Media casi Giorn.', '% su Mondo'])
    Stat.columns = [Cont1, Cont2]
    
    pd.options.display.float_format = '{:,.2f}'.format
    
    return Stat

In [45]:
Stat_casi(Covid19)

Inserire il nome di un continente:  Asia
Inserire il nome di un continente:  europe

                                  Asia       Europe
Massimo casi Giorn.      40,475,477.00 2,417,043.00
Minimo casi Giorn.Giorn.          0.00         0.00
Media casi Giorn.             4,278.27     3,327.72
% su Mondo                       38.91        32.56

## Si chiede poi di effettuare lo stesso tipo di analisi – anche in questo caso sviluppando una funzione ad hoc – per il numero di vaccinazioni totali per ogni continente;

In [9]:
def Stat_vaccini(Covid19):
    Cont1=input("Inserire il nome di un continente: ").title() #L'utente da tastiera mette in input i due continenti
    Cont2=input("Inserire il nome di un continente: ").title() #La funzione .title() pone l'input nel formato già corretto del dataset

    S1 = Covid19.loc[Covid19.continent==Cont1].new_vaccinations #Gli input vengono utilizzati come variabile per filtrare il dataset sul continente richiesto
    S2 = Covid19.loc[Covid19.continent==Cont2].new_vaccinations #Le variabili necessarie per i vari calcoli si basano sulla colonna new_vaccination
    
    MaxV1=S1.max() #Si calcolano i massimi delle new_vaccination
    MaxV2=S2.max()
    
    MinV1=S1.min() #Si calcolano i minimi delle new_vaccination
    MinV2=S2.min()
    
    MeanV1=S1.mean() #Si calcolano la media delle new_vaccination
    MeanV2=S2.mean()
    
    Tot_World_Vax=Covid19.loc[~Covid19.continent.isnull()].new_vaccinations.sum()
    
    """
    Si calcolano le vacinazioni globali, escludendo i continenti nulli (trattandodi di aggregazioni continentali, sono da escludere nel computo complessivo)
    """
    World_Perc1=(S1.sum())/Tot_World_Vax*100 #Si calcolano le percentuali sulle vaccinazioni globali
    World_Perc2=(S2.sum())/Tot_World_Vax*100
    
    #Si struttura un piccolo dataframe per esporre in maniera chiara all'utente le informazioni richieste
    
    Stat=pd.DataFrame(
        {'Cont1': [MaxV1, MinV1, MeanV1, World_Perc1],
         'Cont2': [MaxV2, MinV2, MeanV2, World_Perc2]},
         index = ['Massimo Vax Giorn.', 'Minimo Vax Giorn.', 'Media Vax Giorn.', '% su Mondo'])
    Stat.columns = [Cont1, Cont2]
    
    pd.options.display.float_format = '{:,.2f}'.format
    
    return Stat

In [305]:
Stat_vaccini(Covid19)

Inserire il nome di un continente:  asia
Inserire il nome di un continente:  europe

                            Asia       Europe
Massimo Vax Giorn. 24,741,000.00 2,389,472.00
Minimo Vax Giorn.           0.00         0.00
Media Vax Giorn.      484,001.59    55,118.13
% su Mondo                 69.52        11.67

## Alla fine, basandosi sui calcoli fatti, il committente chiede di stilare un breve (tre o quattro righe) paragrafo testuale riassuntivo sulle statistiche di casi e vaccinazioni, che si concentri solo sulle differenze esistenti tra Europa, Sud America e Oceania.

In [35]:
def Stat_EU_SAM_OC(Covid19):
    
    S1 = Covid19.loc[Covid19.continent=="Europe"] #Gli input vengono utilizzati come variabile per filtrare il dataset sul continente richiesto
    S2 = Covid19.loc[Covid19.continent=="South America"] #Le variabili necessarie per i vari calcoli si basano sulla colonna new_vaccination
    S3 = Covid19.loc[Covid19.continent=="Oceania"]
    

    TotC1=S1.new_cases.sum() #Si calcolano i massimi delle new_vaccination
    TotC2=S2.new_cases.sum()
    TotC3=S3.new_cases.sum()
    
    MaxC1=S1.new_cases.max() #Si calcolano i massimi delle new_vaccination
    MaxC2=S2.new_cases.max()
    MaxC3=S3.new_cases.max()

    MinC1=S1.new_cases.min() #Si calcolano i massimi delle new_vaccination
    MinC2=S2.new_cases.min()
    MinC3=S3.new_cases.min()
    
    MeanC1=S1.new_cases.mean() #Si calcolano la media delle new_vaccination
    MeanC2=S2.new_cases.mean()
    MeanC3=S3.new_cases.mean()
    
    MaxV1=S1.new_vaccinations.max() #Si calcolano i massimi delle new_vaccination
    MaxV2=S2.new_vaccinations.max()
    MaxV3=S3.new_vaccinations.max()

    MinV1=S1.new_vaccinations.min() #Si calcolano i massimi delle new_vaccination
    MinV2=S2.new_vaccinations.min()
    MinV3=S3.new_vaccinations.min()
    
    MeanV1=S1.new_vaccinations.mean() #Si calcolano la media delle new_vaccination
    MeanV2=S2.new_vaccinations.mean()
    MeanV3=S3.new_vaccinations.mean()
    
    Tot_World_cases=Covid19.loc[~Covid19.continent.isnull()].new_cases.sum()
    Tot_World_Vax=Covid19.loc[~Covid19.continent.isnull()].new_vaccinations.sum()
    """
    Si calcolano le vacinazioni globali, escludendo i continenti nulli (trattandodi di aggregazioni continentali, sono da escludere nel computo complessivo)
    """
    
    World_Perc1_Cases=(S1.new_cases.sum())/Tot_World_cases*100 #Si calcolano le percentuali sui casi globali
    World_Perc2_Cases=(S2.new_cases.sum())/Tot_World_cases*100
    World_Perc3_Cases=(S3.new_cases.sum())/Tot_World_cases*100
    
    World_Perc1_Vax=(S1.new_vaccinations.sum())/Tot_World_Vax*100 #Si calcolano le percentuali sulle vaccinazioni globali
    World_Perc2_Vax=(S2.new_vaccinations.sum())/Tot_World_Vax*100
    World_Perc3_Vax=(S3.new_vaccinations.sum())/Tot_World_Vax*100
    
    print(f"L'Europa ha avuto complessivamente {TotC1:,.2f} casi, corrispondenti al {World_Perc1_Cases:,.2f}% dei casi totali.")
    print(f"Con un massimo di {MaxC1} casi giornalieri ed una media di {MeanV1:,.2f} casi.")
    print(f"Le vaccinazioni eseguite in Europa sono state il {World_Perc1_Vax:,.2f}% del totale mondiale.")
    print(f"Con un massimo di {MaxV1:,.2f} vaccinazioni giornaliere.")
    
    print("\n")
    
    print(f"Il Sud Amrica ha avuto complessivamente {TotC2:,.2f} casi, corrispondenti al {World_Perc2_Cases:,.2f}% dei casi totali.")
    print(f"Con un massimo di {MaxC2:,.2f} casi giornalieri ed una media di {MeanV2:,.2f} casi.")
    print(f"Le vaccinazioni eseguite in Europa sono state il {World_Perc2_Vax:,.2f}% del totale mondiale.")
    print(f"Con un massimo di {MaxV2:,.2f} vaccinazioni giornaliere.") 
    
    print("\n")
    
    print(f"L'Oceania ha avuto complessivamente {TotC3:,.2f} casi, corrispondenti al {World_Perc3_Cases}% dei casi totali.")
    print(f"Con un massimo di {MaxC3:,.2f} casi giornalieri ed una media di {MeanV3:,.2f} casi.")
    print(f"Le vaccinazioni eseguite in Europa sono state il {World_Perc3_Vax:,.2f}% del totale mondiale.")
    print(f"Con un massimo di {MaxV3:,.2f} vaccinazioni giornaliere.")
    
    return

In [36]:
Stat_EU_SAM_OC(Covid19)

L'Europa ha avuto complessivamente 252,207,645.00 casi, corrispondenti al 32.56% dei casi totali.
Con un massimo di 2417043.0 casi giornalieri ed una media di 55,118.13 casi.
Le vaccinazioni eseguite in Europa sono state il 11.67% del totale mondiale.
Con un massimo di 2,389,472.00 vaccinazioni giornaliere.


Il Sud Amrica ha avuto complessivamente 68,670,504.00 casi, corrispondenti al 8.86% dei casi totali.
Con un massimo di 1,283,024.00 casi giornalieri ed una media di 141,700.11 casi.
Le vaccinazioni eseguite in Europa sono state il 7.79% del totale mondiale.
Con un massimo di 3,976,605.00 vaccinazioni giornaliere.


L'Oceania ha avuto complessivamente 14,754,557.00 casi, corrispondenti al 1.9045538374331972% dei casi totali.
Con un massimo di 588,813.00 casi giornalieri ed una media di 55,957.98 casi.
Le vaccinazioni eseguite in Europa sono state il 0.69% del totale mondiale.
Con un massimo di 351,226.00 vaccinazioni giornaliere.